{{define "headtags"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{{end}}
