{{define "header"}}
{{with .Me}}
<div class="header">
  <div class="logo"><img src="/static/logo.jpeg"/></div>

  <form enctype="multipart/form-data" action="/newpost" method="post">
    <input type="file" accept="image/*" name="file">
    <input type="submit" name="submit">
  </form>

  <form enctype="multipart/form-data" action="/newcover" method="post">
    <input type="file" accept="image/*" name="file">
    <input type="submit" name="submit">
  </form>

  <div class="user">
    <a href="/u/{{.Username}}">
      <img class="profile_pic" src="/data/{{.ID}}_64.jpeg"/>
      <span class="username">@{{.Username}}</span>
    </a>
    <div class="menu"> - </div>
    <a href="/settings">
      <span class="menu">settings</span>
    </a>
    <a href="/logout">
      <span class="menu">log out</span>
    </a>
  </div>
  <div class="clearfix"></div>

</div>
{{end}}
{{end}}
