{{define "header"}}
{{with .Me}}
<div class="header">
  <div class="logo"><img src="/static/logo.jpeg"/></div>

  <!-- <form enctype="multipart/form-data" action="/newcover" method="post">
    <input type="file" accept="image/*" name="file">
    <input type="submit" name="submit">
  </form> -->

  <div class="user">
    <a href="/u/{{.Username}}">
      <img class="profile_pic" src="/data/{{.ID}}_64.jpeg"/>
      <span class="username">@{{.Username}}</span>
    </a>


    <ul class="menu">
      <li class="menu-item splitter"> - </li>
      <li class="menu-item"><a href="/settings">settings</a></li>
      <li class="menu-item"><a href="/logout">log out</a></li>
    </ul>

  </div>
  <div class="clearfix"></div>

</div>
{{end}}
{{end}}
