<!DOCTYPE HTML>
<html>
  <head>
      <title>Login</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/auth.css">
      <link rel="stylesheet" href="/static/input.css">
      <script src="/static/auth.js"></script>
  </head>

  <body>
    <div class="auth">
      <div class="auth_container">
        <form action="/login" method="post">
          <div class="logo"><img src="/static/logo.jpeg"/></div>
          <input class="input" placeholder="Username" value="{{.Username}}" type="text" name="username">
          <br>
          <input class="input" placeholder="Password" type="password" name="password">
          <br>
          <input class="button" type="submit" value="Log in">
        </form>
        <div class="clearfix"></div>
        <p class="error">{{.Messsage}}</p>
        <h2><span>or</span></h2>
        <p class="link"><a href="/register">Register?</a></p>
      </div>
    </div>
  </body>
</html>
