<!DOCTYPE HTML>
<html>
  <head>
      <title>New Post</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/newpost.css">
      <link rel="stylesheet" href="/static/input.css">
      <script src="/static/newpost.js"></script>
      {{template "header_head"}}
  </head>

  <body>
    {{template "header" .}}

    <div class="newpost">
      <div class="newpost_container">
        <h2>Yo Post quelque chose mec</h2>

        <div class="reply_preview glowanim round">
          <div class="reply_img round" style="{{if .InReplyTo}}background: url('/posts/{{.InReplyTo}}_preview.jpeg') no-repeat;background-size:cover;{{end}}"></div>
        </div>

        <form id="newpost" enctype="multipart/form-data" method="post">
          <input class="hidden" type="file" accept="image/*" name="file" id="file">

          <label id="filelabel" for="file">
              <div class="button">Select an image</div>
          </label>
        </form>

        <form action="/post/finalise" method="post">
          <input class="hidden" id="pid" type="text" name="pid" value="">

          <div class="loadlabel" style="display:none;">Uploading</div>

          <div class="post_container glowanim">
            <img class="post_preview" src=""/>
          </div>

          <div class="splitter"></div>

          <!-- the reply input is hidden for now -->
          <!-- Im'm trying to intergrate the selection into .reply_preview -->
          <!-- <label for="replyto">Reply to</label> -->
          <!-- <br> -->
          <!-- class="input reply" -->
          <input id="reply" class="hidden" placeholder="Post ID" type="text" name="replyto" autocomplete="off" value="{{.InReplyTo}}">
          <!-- <br> -->
          <label for="tag">Add tags</label>
          <br>
          <textarea id="tags" class="input tag" type="text" name="tag" autocomplete="off" autocapitalize="off" autocorrect="off" kind="textarea"></textarea>

          <input class="button postbutton" type="submit" value="Post">
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>
