<!DOCTYPE HTML>
<html>
  <head>
      <title>Settings</title>
      <link rel="stylesheet" href="/static/newpost.css">
      <link rel="stylesheet" href="/static/input.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/static/newpost.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      {{template "header_head"}}
  </head>

  <body>
    {{template "header" .}}

    <div class="settings">
      <div class="settings_container">
        <h2>Yo Post quelque chose mec</h2>

        <form id="newpost" enctype="multipart/form-data" action="/createpost" method="post">
          <input class="hidden" type="file" accept="image/*" name="file" id="file">

          <label for="file">
              <div class="button">Select an image</div>
          </label>
        </form>


        <form action="/finalisepost" method="post">
          <input id="pid" type="text" name="pid" value="">
          <br>
          <div id="percent"></div>
          <img class="post_preview" src=""/>


          <div class="splitter"></div>

          <div class="reply_container">
            <label for="InReplyTo">Reply to</label>
            <br>
            <input id="reply" class="input reply" placeholder="Post ID" type="text" name="replyto" autocomplete="off" value="{{.InReplyTo}}">
            <div class="reply_preview">
              <div class="reply_img" style="{{if .InReplyTo}}background: url('/posts/{{.InReplyTo}}_preview.jpeg') no-repeat;{{end}}"></div>
            </div>
          </div>


          <input class="button post" type="submit" value="Post">
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>
