<!DOCTYPE HTML>
<html>
  <head>
      <title>Page not found</title>
      <link rel="stylesheet" href="/static/notfound.css">
      <link rel="stylesheet" href="/static/style.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="notfound">
      <span class="what">404</span>
      <p class="message">Sorry, page not found.</p>
      <div class="split">~</div>
      <a href="/">Home</a>
    </div>
  </body>
</html>
