<!DOCTYPE HTML>
<html>
  <head>
      <title>{{if .User.Name}}{{.User.Name}}{{else}}@{{.User.Username}}{{end}}</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/post.css">
      <link rel="stylesheet" href="/static/delete.css">
      <script src="/static/popup.js"></script>
      {{template "header_head"}}
  </head>

  <body>
    {{template "header" .}}

    <div class="post_container">
      <div class="post">

        <div class="post_header">
          <a href="/u/{{.User.Username}}">
            <div class="profile_pic round" style="background: url('/data/{{.User.ID}}_64.jpeg') no-repeat;background-size:cover;"></div>
          </a>
          <div class="username">
            <a href="/u/{{.User.Username}}">@{{.User.Username}}</a>
          </div>

          {{if .Me}}
          {{if eq .Me.ID .User.ID}}
            <label id="popup_button" class="">X</label>

            <div id="popup" style="display:none;">
              <div class="mask"></div>
              <div class="delete">
                <div class="message">Are you sure?</div>
                <!-- <img class="message round" src="/posts/{{.Post.ID}}_preview.jpeg"/> -->
                <!-- <br> -->

                <form action="/post/delete" method="post">
                  <input class="hidden" id="pid" type="text" name="pid" value="{{.Post.ID}}">
                  <a class="button-border" id="popup_cancel">Cancel</a>
                  <input class="button deletion" type="submit" value="Yes">
                </form>
                <div class="clearfix"></div>
              </div>
            </div>
          {{end}}
          {{end}}


          <label class="postdate" class="date">{{unixformat .Post.PostDate}}</label>
          <div class="clearfix"></div>
        </div>

        <img class="post_img" src="/posts/{{.Post.ID}}_1024.jpeg"/>

        <div class="post_footer">
            <span style="float:left">❤︎ 13 &nbsp; ↩︎ 14</span>
        </div>

      </div>

      <div class="replies">
      {{range .Replies}}
        <div class="reply">
          <div class="reply_info">
            <a href="/u/{{.By.ID}}">
              <div class="reply_by round" style="background: url('/data/{{.By.ID}}_64.jpeg') no-repeat;background-size:cover;"></div>
              <span>@{{.By.Username}}</span>
            </a>
            <span>replied</span>
            <br>
          </div>

          <div class="reply_img">
            <a  href="/p/{{.With.ID}}">
              <img src="/posts/{{.With.ID}}_512.jpeg"/>
            </a>
            <!-- if reply not by replier -->
            {{if .WithPostedBy}}
            <div class="reply_cred">
              <a href="/u/{{.With.PostedByID}}">
                <span>by</span>
                <span class="bold">@{{.WithPostedBy}}</span>
              </a>
            </div>
            {{end}}
          </div>
        </div>
        <div class="clearfix"></div>
      {{end}}
      </div>

    </div>


  </body>
</html>
