<!DOCTYPE HTML>
<html>
  <head>
      <title>{{if .User.Name}}{{.User.Name}}{{end}}</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/post.css">
      <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="post_container">
      <div class="">
        <div class="post_header">
          <a href="/u/{{.User.Username}}">
            <div class="profile_pic round" style="background: url('/data/{{.User.ID}}_64.jpeg') no-repeat;background-size:cover;"></div>
          </a>
          <div class="username">
            <a href="/u/{{.User.Username}}">@{{.User.Username}}</a>
          </div>

          <form action="/post/delete" method="post">
            <input class="hidden" id="pid" type="text" name="pid" value="{{.Post.ID}}">
            <input class="delete" type="submit" value="X">
          </form>

          <label class="postdate" class="date">{{unixformat .Post.PostDate}}</label>
          <div class="clearfix"></div>
        </div>
      </div>
      <img src="/posts/{{.Post.ID}}_1024.jpeg"/>
    </div>
  </body>
</html>
