<!DOCTYPE HTML>
<html>
  <head>
      <title>{{.User.Name}}</title>
      <link rel="stylesheet" href="/static/post.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/static/script.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>


    <div id="content">
      <div class="post_container">
        <div class="">
          <div class="post_header">
            <a href="/u/{{.User.Username}}">
              <img class="profile_pic" src="/data/{{.User.ID}}_64.jpeg"/>
            </a>
            <div class="username">
              <a href="/u/{{.User.Username}}">@{{.User.Username}}</a>
            </div>

            <label class="postdate" class="date">{{.Post.PostDate}}</label>
            <div class="clearfix"></div>
          </div>
        </div>
        <img src="/posts/{{.Post.ID}}_1024.jpeg"/>
      </div>
    </div>

  </body>
</html>
