<!DOCTYPE HTML>
<html>
  <head>
      <title>{{if .User.Name.Valid}}{{.User.Name.String}} - {{end}}@{{.User.Username}}</title>
      <link rel="stylesheet" href="/static/profile.css">
      <link rel="stylesheet" href="/static/style.css">
      <link rel="stylesheet" href="/static/header.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="/static/script.js"></script>
      <script src="/static/upload.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {{template "header" .}}

    <div id="content">
      <div class="profile_header">
        <div class="header_container"></div>
        <div class="header_container" style="background: url('/data/{{.User.ID}}_h_1200.jpeg') no-repeat;background-size:cover;"></div>

        <div class="header_edit">
          <div class="msg_container">
            {{if .MyProfile}}
            <div class="msg">
              <p>Upload Image</p>
              <p class="light">1200x370</p>
            </div>

            {{end}}
          </div>
        </div>

        <div class="pfp">
        {{if .MyProfile}}
          <form id="newpfp" enctype="multipart/form-data">
            <input class="hidden" type="file" accept="image/*" name="file" id="file">
            <div class="profile_pic_container">
              <label for="file">
                  <img class="profile_pic" src="/data/{{.User.ID}}_200.jpeg"/>
                  <div class="msg_container">
                    <div class="msg">
                      <p>Upload Image</p>
                      <p class="light">480x480</p>
                    </div>
                  </div>
              </label>
            </div>
          </form>
        {{else}}
          <div class="profile_pic_container">
            <img class="profile_pic" src="/data/{{.User.ID}}_200.jpeg"/>
          </div>
        {{end}}
        </div>

        <div class="userinfo">
          <a class="username" href="/u/{{.User.Username}}">@{{.User.Username}}</a>
          {{if .User.Name.Valid}}<p class="name">({{.User.Name.String}})</p>{{end}}
          <div class="clearfix"></div>

          {{if .User.Description.Valid}}<p class="disc">{{.User.Description.String}}</p>{{end}}
        </div>

        <div class="clearfix"></div>
      </div>

      <div class="post_container">
      {{range .GroupedPosts}}
        <div class="postgroup">
          {{range .}}
            <div class="post">
              <a class="" href="/p/{{.ID}}">
                <img src="/posts/{{.ID}}_preview.jpeg"/>
                <div class="postinfo">
                  <a href="#">❤︎</a>
                  <span>&nbsp;&nbsp;</span>
                  <a href="#">↩︎</a>
                  <div class="postdate">{{.PostDate}}</div>
                </div>
              </a>
            </div>

          {{end}}
          <div class="clearfix"></div>
        </div>
      {{end}}
      </div>

    </div>

  </body>
</html>
