<!DOCTYPE HTML>
<html>
  <head>
      <title>{{if .User.Name.Valid}}{{.User.Name.String}} - {{end}}@{{.User.Username}}</title>
      <link rel="stylesheet" href="/static/profile.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/static/script.js"></script>
      <script src="/static/upload.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      {{template "header_head"}}
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    {{template "header" .}}

    <div id="content">
      <div class="profile_header">
        <div class="header_container"></div>
        <div class="header_container" style="background: url('/data/{{.User.ID}}_h_1200.jpeg') no-repeat;background-size:cover;"></div>

        <div class="header_edit">
          <div class="msg_container">
            {{if .MyProfile}}
            <div class="msg">
              <p>Upload Image</p>
              <p class="light">1200x370</p>
            </div>
            {{end}}
          </div>
        </div>

        <div class="pfp">
        {{if .MyProfile}}
          <form id="newpfp" enctype="multipart/form-data">
            <input class="hidden" type="file" accept="image/*" name="file" id="file">
            <div class="profile_pic_container">
              <label for="file" style="width: inherit;">
                  <img class="profile_pic" src="/data/{{.User.ID}}_200.jpeg"/>
                  <div class="msg_container">
                    <div class="msg">
                      <p>Upload Image</p>
                      <p class="light">480x480</p>
                    </div>
                  </div>
              </label>
            </div>
          </form>
        {{else}}
          <div class="profile_pic_container">
            <img class="profile_pic" src="/data/{{.User.ID}}_200.jpeg"/>
          </div>
        {{end}}
        </div>

        <div class="userinfo">
          <a class="username" href="/u/{{.User.Username}}">@{{.User.Username}}</a>
          {{if .User.Name.Valid}}<p class="name">({{.User.Name.String}})</p>{{end}}
          <div class="clearfix"></div>

          <ul class="numbers">
            <li><b>{{.User.PostCount}}</b> <br> Posts</li>
            <li><b>0</b> <br> Followers</li>
            <li><b>0</b> <br> Following</li>
            <div class="clearfix"></div>
          </ul>


          {{if .User.Description.Valid}}<p class="disc">{{.User.Description.String}}</p>{{end}}
        </div>

        <div class="clearfix"></div>
      </div>

      <div class="post_container">
      {{range .GroupedPosts}}
        <div class="postgroup">
          {{range .}}
            <div class="post">
              <a href="/p/{{.ID}}">
                <img class="post_img" src="/posts/{{.ID}}_preview.jpeg"/>
              </a>

              {{if .InReplyTo}}
              <a href="/p/{{.InReplyTo}}">
                <div class="reply_container round">
                  <img class="reply round" src="/posts/{{.InReplyTo}}_preview.jpeg"/>
                </div>
              </a>
              {{end}}

              <div class="postinfo">
                <a href="#">❤︎</a>
                <span>&nbsp;&nbsp;</span>
                <a href="/newpost?replyto={{.ID}}">↩︎</a>
                <div class="postdate">{{.PostDate}}</div>
              </div>

            </div>
          {{end}}
          <div class="clearfix"></div>
        </div>
      {{end}}
      </div>

    </div>

  </body>
</html>
