<!DOCTYPE HTML>
<html>
  <head>
      <title>Register</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/auth.css">
      <link rel="stylesheet" href="/static/input.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="/static/auth.js"></script>
  </head>

  <body>
    <div class="auth">
      <div class="auth_container">
        <div class="logo"><img src="/static/logo.jpeg"/></div>
        <form action="/register" method="post">
          <input id="username_input" class="input" placeholder="Username" type="text" name="username" autocomplete="off">
          <div id="username_error" class="error marginafter" style="display:none;"></div>
          <input class="input" placeholder="Password" type="password" name="password">
          <input class="input" placeholder="Email" type="text" name="email" autocomplete="off">
          <input class="button" type="submit" value="Register">
        </form>
        <div class="clearfix"></div>
        <p class="error">{{.Messsage}}</p>
        <h2><span>or</span></h2>
        <p class="link"><a href="/login">Log in?</a></p>
      </div>
    </div>
  </body>
</html>
