<!DOCTYPE HTML>
<html>
  <head>
      <title>Settings</title>
      {{template "headtags"}}
      <link rel="stylesheet" href="/static/settings.css">
      <link rel="stylesheet" href="/static/input.css">
      <link rel="stylesheet" href="/static/profile.css">
      <script src="/static/upload.js"></script>
      <script src="/static/auth.js"></script>
      <script src="/static/tabs.js"></script>
      {{template "header_head"}}
  </head>

  <body>
    {{template "header" .}}
    <div class="profile_header">
      <div class="header_container"></div>
      <div class="header_container" style="background: url('/data/{{.Me.ID}}_h_1200.jpeg') no-repeat;background-size:cover;"></div>

      <div class="header_edit">
        <div class="msg_container">
          <div class="msg">
            <p>Upload Image</p>
            <p class="light">1200x370</p>
          </div>
        </div>
      </div>

      <div class="pfp">
        <div class="profile_pic_container round">
          <div class="profile_pic round" style="background: url('/data/{{.Me.ID}}_200.jpeg') no-repeat;background-size:cover;"></div>
        </div>
      </div>

      <div class="userinfo">
        <a class="username" href="/u/{{.Me.Username}}">@{{.Me.Username}}</a>
        <div class="clearfix"></div>

        <form id="newpfp" enctype="multipart/form-data">
          <input class="hidden" type="file" accept="image/*" name="file" id="file">

          <label for="file">
              <div class="button">Change profile picture</div>
          </label>
        </form>
      </div>

      <div class="clearfix"></div>
    </div>


    <div class="settings">
      <div class="settings_container">
        <ul id="tabs">
          <li onclick="openTab(event, '#profiletab')" class="selected"><span>Profile</span></li>
          <li onclick="openTab(event, '#deletiontab')"><span>Deletion</span></li>
          <div class="clearfix"></div>
        </ul>

        <div id="tabscontent">
          <div id="profiletab">
            <form action="/user/edit" method="post">
              <label for="email">Username</label>
              <input class="input" placeholder="Username" type="text" name="username" autocomplete="off" value="{{.Me.Username}}" id="username_input">
              <div id="username_error" class="error marginafter" style="display:none;"></div>
              <label for="email">Email <span style="font-weight:300;">(private)</span></label>
              <input class="input" placeholder="Email" type="text" name="email" autocomplete="off" value="{{.Me.Email}}">
              <label for="email">Name</label>
              <input class="input" placeholder="Real Name" type="text" name="name" autocomplete="off" value="{{if .Me.Name.Valid}}{{.Me.Name.String}}{{end}}">
              <label for="desc">Description</label>
              <textarea class="input desc" placeholder="Who are you?" type="text" name="desc" autocomplete="off" autocapitalize="off" autocorrect="off" kind="textarea">{{if .Me.Description.Valid}}{{.Me.Description.String}}{{end}}</textarea>
              <input class="submit button" type="submit" value="Update">
            </form>
            <div class="clearfix"></div>
          </div>

          <div id="deletiontab" style="display:none;">
            <div class="deletion_header">
              <span>Delete account</span>
              <br>
              <span style="font-weight:300;">This will contain a warning, and what ever else I want.</span>
            </div>
            <div class="button deletion">Delete</div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
