<!DOCTYPE HTML>
<html>
  <head>
      <title>Settings</title>
      <link rel="stylesheet" href="/static/settings.css">
      <link rel="stylesheet" href="/static/input.css">
      <link rel="stylesheet" href="/static/profile.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/static/upload.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      {{template "header_head"}}
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    {{template "header" .}}
    <div class="profile_header">
      <div class="header_container"></div>
      <div class="header_container" style="background: url('/data/{{.Me.ID}}_h_1200.jpeg') no-repeat;background-size:cover;"></div>

      <div class="header_edit">
        <div class="msg_container">
          <div class="msg">
            <p>Upload Image</p>
            <p class="light">1200x370</p>
          </div>
        </div>
      </div>

      <div class="pfp">
          <div class="profile_pic_container">
            <img class="profile_pic" src="/data/{{.Me.ID}}_200.jpeg"/>
          </div>
      </div>

      <div class="userinfo">
        <a class="username" href="/u/{{.Me.Username}}">@{{.Me.Username}}</a>
        <div class="clearfix"></div>

        <form id="newpfp" enctype="multipart/form-data">
          <input class="hidden" type="file" accept="image/*" name="file" id="file">

          <label for="file">
              <div class="button">Change profile picture</div>
          </label>
        </form>
      </div>

      <div class="clearfix"></div>
    </div>


    <div class="settings">
      <div class="settings_container">
        <h2>Profile</h2>
        <form action="/editprofile" method="post">
          <label for="email">Username</label>
          <input class="input" placeholder="Username" type="text" name="username" autocomplete="off" value="{{.Me.Username}}">
          <label for="email">Email</label>
          <input class="input" placeholder="Email" type="text" name="email" autocomplete="off" value="{{.Me.Email}}">
          <label for="email">Name</label>
          <input class="input" placeholder="Real Name" type="text" name="name" autocomplete="off" value="{{if .Me.Name.Valid}}{{.Me.Name.String}}{{end}}">
          <label for="email">Description</label>
          <textarea class="input desc" placeholder="Tell us about you" type="text" name="desc" autocomplete="off" autocapitalize="off" autocorrect="off" kind="textarea">{{if .Me.Description.Valid}}{{.Me.Description.String}}{{end}}</textarea>
          <input class="button" type="submit" value="Save">
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>
