.header {
  padding: 10px;
}

.header .logo {
  float: left;
}

.header .logo img {
  display: block;
}

.header .newbutton {
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  float: left;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.header .user {
  float: right;
  line-height: 64px;
}

.header .profile_pic {
  background-color: #000!important;
  float: left;
  width: 64px;
  height: 64px;
}

.header .username {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.header .navbutton_container {
  display: none;
}

.header #navbutton {
  cursor: pointer;
}

.header .menu {
  float: right;
}

.header ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header .splitter {
  color: #a5a5a5;
  padding-right: 10px;
}

.header .menu-item {
  float: left;
  font-size: 20px;
  font-weight: 300;
  padding-left: 15px;
}

.header .menu a {
  text-decoration: none;
  color: #a5a5a5;
}

@media (max-width: 570px) {
  .header .logo {
    display: none;
  }

  .header .newbutton {
    display: none;
  }

  .header .menu {
    float: none;
    line-height: normal;
  }

  .header .menu-item {
    float: none;
    display: block;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .header .user {
    float: none;
  }

  .header .profile_pic {
    float: left;
  }

  .header #navbutton {
    margin: auto 0;
    height: auto;
    line-height: normal;
  }

  .header .navbutton_container {
    display: flex;
    align-items: center;
    float: right;
    height: 64px;
  }

  .header .splitter {
    color: #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 0px;
    height: 0px;
    padding-top: 15px
  }
}
