.header {
  padding: 15px;
  font-family: 'Lato', sans-serif;
}

.header .logo {
  float: left;
}

.logo img {
  display: block;
}

.header form {
  display: inline-block;
  vertical-align: middle;
  height: 64px;
}

.header label {
  margin-left: 10px;
  cursor: pointer;
  top: 15%;
  font-size: 2rem;
  padding: 0 12px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;

  background-color: #000;
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

.header .user {
  float: right;
  display: flex;
}

.header .profile_pic {
  float: left;
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

.header .username {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.header .menu {
  font-size: 20px;
  font-weight: 300;
  padding: 20px 10px;
  display: inline-block;
  text-decoration: none;
  color: #a5a5a5;
}
