.header {
  padding: 15px;
}

.header .logo {
  float: left;
}

.header .logo img {
  display: block;
}

.header .newbutton {
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  float: left;
  font-size: 26px;
  height: 22px;
  text-decoration: none;
  color: #000;
}

.header form {
  display: inline-block;
  vertical-align: middle;
  height: 64px;
}

.header .user {
  float: right;
}

.header .profile_pic {
  background-color: #000!important;
  float: left;
  width: 64px;
  height: 64px;
}

.header .username {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.header #navbutton {
  display: none;
  cursor: pointer;
}

.header .menu {
  float: right;
}

.header ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header .menu-item {
  float: left;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 10px;
  display: inline-block;
}

.header .splitter {
  color: #a5a5a5;
}

.header .menu a {
  text-decoration: none;
  color: #a5a5a5;
}

@media (max-width: 570px) {
  .logo {
    display: none;
  }

  .header .menu {
    float: none;
  }

  .header .menu-item {
    float: none;
    display: block;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .header .user {
    float: none;
  }

  .header .profile_pic {
    float: left;
  }

  .header #navbutton {
    display: block;
    float: right;
  }

  .header .splitter {
    /*display: none;*/
    color: #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 0px;
    height: 0px;
    padding-top: 15px
  }
}
