.post_container {
  text-align: center;
  background-color: #f3f3f3;
}

.post {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: #fff;
}

.post_header {
  padding: 10px;
  /*border: 1px solid #edeeee;*/
  line-height: 64px;
}

.post .username {
  float: left;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  display: inline-block;
}

.post .username a {
  text-decoration: none;
  color: #000000;
}

#popup_button {
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#popup .mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.delete {
  background-color: #fff;
  margin-top: 0!important;
}


/*.post ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}*/

.post_footer {
  display: flex;
  padding: 10px;
  line-height: 32px;
}

.delete {
  float: right;
}

.profile_pic {
  background-color: #000!important;
  float: left;
  width: 64px;
  height: 64px;
}

.post_header .postdate {
  float: right;
}

.post_img {
  max-width: 100%;
  max-height: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.replies {
  background-color: #f3f3f3;
  width: 100%;
  text-align: center;
}

.reply {
 display: inline-block;
 background-color: #fff;
 -moz-border-radius: 8px / 8px;
 -webkit-border-radius: 8px / 8px;
 border-radius: 8px / 8px;
 margin: 10px;
 /*border: 1px solid #edeeee;*/
}

.reply_info {
  line-height: 40px;
  margin: 10px;
}

.reply_info span {
  float: left;
  margin-right: 5px;
}

.reply_info a {
  color: #000;
  text-decoration: none;
  font-weight: 800;
}

.reply_by {
  background-color: #000!important;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.reply_img {
  position: relative;
}

.reply_img img {
  display: block;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.reply_cred {
  position: absolute;
  bottom: 0;
  right: 15px;

  padding: 6px;
  background-color: #fff;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px / 4px;
  border-radius: 4px / 4px;

  /*clear round bottom*/
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.reply_cred a {
  color: #000;
  text-decoration: none;
}

.reply_cred .bold {
  font-weight: 800;
}

@media (max-width: 1110px) {
}
