.post_container {
  text-align: center;
  margin-top: 30px;
}

.post {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.post_header {
  padding: 10px;
  border: 1px solid #edeeee;
  line-height: 64px;
}

.post .username {
  float: left;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  display: inline-block;
}

.post .username a {
  text-decoration: none;
  color: #000000;
}

#popup_button {
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.post ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.delete {
  float: right;
}

.profile_pic {
  background-color: #000!important;
  float: left;
  width: 64px;
  height: 64px;
}

.post_header .postdate {
  float: right;
}

.post_img {
  max-width: 100%;
  max-height: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1110px) {
}
