.header_container {
  width: 100%;
  height: 370px;
  background: url("/static/header.jpeg") no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.header_edit {
  width: 100%;
  height: 300px;
}

.grow {
  padding-top: 10%;
}

.header_edit:hover .msg_container {
  cursor: pointer;
	position: absolute;
  display: table;
  width: 100%;
}

.header_edit:hover .msg {
	text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}

.msg_container {
	display: none;
}

.profile_pic_container:hover .msg_container {
  cursor: pointer;
	position: absolute;
  display: block;
}

.profile_pic_container:hover .msg {
	text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
}

.msg p {
  font-weight: 700;
  margin: 0;
  background-color: #ffffff;
  padding-bottom: 2px;
}

.msg .light {
  font-weight: 300;
  color: #5f5f5f;
}

.pfp {
  padding-left: 60px;
}

.profile_pic_container {
  padding: 10px 10px;
  float: left;
  background-color: #ffffff;
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
  width: 200px;
  height: 200px;
  position: relative;
}

.profile_header {
  font-family: 'Lato';
}

.profile_header .profile_pic {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
  display: block;
  position: absolute;
}

.userinfo {
  font-family: 'Lato';
  padding-top: 80px;
  padding-left: 20px;
  float: left;
}

.userinfo .username {
  color: #0f0f0f;
  font-size: 40px;
  text-decoration: none;
  font-weight: 700;
  float: left;
}

.userinfo .name {
  float: left;
  padding-left: 8px;
  margin-bottom: 0px;
}

.userinfo .disc {
  font-size: 18px;
  margin-top: 10px;
}

.post_container {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.post_container a {
  text-decoration: none;
}

.postgroup {
  margin-bottom: 15px;
  padding-left: 15px;
}

.post {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 306px;
  height: 340px;
}

.post .post_img {
  display: block;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
}

.round {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

.post .reply {
  width: 100%;
}

.post .reply_container {
  width: 100px;
  height: 100px;
  padding: 10px 10px;
  background-color: #ffffff;
  position: absolute;
}

.post:hover .postinfo {
  display: block;
}

.postdate {
  float: right;
}

.post a {
  font-size: 18px;
  color: #000;
}

.postinfo {
  width: 256px;
  box-sizing: border-box;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  margin-left: 50px;
  margin-top: 306px;
  border: 1px solid;
  border-color: #edeeee;
}

@media (max-width: 1110px) {
  .post {
    margin-top: 44px;
    height: 300px;
  }

  .post .post_img {
    padding-top: 44px;
  }

  .postinfo {
    display: block;
    border: 1px solid #edeeee;
  }
}
