.header_container {
  width: 100%;
  height: 370px;
  background-color: #000;
  position: absolute;
  z-index: -2;
}

.header_edit {
  width: 100%;
  height: 300px;
}

.grow {
  padding-top: 10%;
}

.header_edit:hover .msg_container {
  cursor: pointer;
  position: absolute;
  display: table;
  width: 100%;
}

.header_edit:hover .msg {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}

.msg_container {
  display: none;
}

.profile_pic_container:hover .msg_container {
  cursor: pointer;
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
}

.profile_pic_container:hover .msg {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  height: inherit;
}

.msg p {
  font-weight: 700;
  margin: 0;
  background-color: #ffffff;
  padding-bottom: 2px;
}

.msg .light {
  font-weight: 300;
  color: #5f5f5f;
}

.pfp {
  padding-left: 60px;
}

.profile_pic {
  background-color: #000!important;
  background-size: cover!important;
}

.profile_pic_container {
  padding: 10px 10px;
  float: left;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  position: relative;
}

.profile_header .profile_pic {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
}

.userinfo {
  padding-top: 80px;
  padding-left: 20px;
  float: left;
}

.userinfo .username {
  color: #0f0f0f;
  font-size: 40px;
  text-decoration: none;
  font-weight: 700;
  float: left;
}

.userinfo .name {
  float: left;
  padding-left: 8px;
  margin-bottom: 0px;
}

.userinfo .numbers {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}

.userinfo .numbers li {
  float: left;
  margin-right: 20px;
}

.userinfo .disc {
  font-size: 18px;
  margin-top: 10px;
  white-space: pre-wrap;
  /*max-width: 500px;*/
}

.post_container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.post_container a {
  text-decoration: none;
}

.post {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 256px;
  height: 256px;
  margin-bottom: 15px;
}

.post .post_img {
  display: block;
  position: absolute;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}

.post .post_img:hover {
  opacity: 0.8;
}

.post .reply {
  width: 100%;
}

.post .reply_container {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: #ffffff;
  position: absolute;
}

.reply_container:hover img {
  opacity: 0.8;
}

.postdate {
  float: right;
}

.post a {
  font-size: 18px;
  color: #000;
}

.postinfo {
  width: 256px;
  box-sizing: border-box;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  margin-top: 256px;
  border: 1px solid;
  border-color: #edeeee;
}

@media (max-width: 1110px) {
}


@media (max-width: 570px) {
  .pfp {
    padding-left: 0px;
  }

  .profile_pic_container {
    float: none;
    padding: 8px 8px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
  }

  .profile_pic {
    width: inherit;
  }

  .userinfo {
    padding-top: 0px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .header_container {
    height: 170px;
  }

  .header_edit, .header_edit:hover .msg {
    height: 100px;
  }

  .post {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
