.settings {
  font-family: 'Open Sans', sans-serif;
  margin: 50px 50px;
  width: 850px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.settings_container {
  padding: 20px 30px;
  border: 1px solid #d0d0d0;
}


.input, .settings .desc {
  width: 100%;
  padding: 6px 3px;
  font-size: 18px;
  border: 1px solid #d0d0d0;
  margin-bottom: 8px;
}

.settings .desc {
  resize: none;
  height: 200px;
}

.input:hover {
  border: 1px solid #909090;
}

.input:focus {
  border: 1px solid #909090;
}

input, select, textarea {
    outline: none;
    box-sizing: border-box;
}

.button {
  margin-top: 10px;
  cursor: pointer;
  float: right;
  padding: 8px 8px;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border: none;

  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

.button:disabled {
  background-color: #b3b3b3;
}

.error, .register_error {
  color: #d22f2f;
}
