.settings {
  font-family: 'Lato', sans-serif;
  width: 1080px;
  display: block;
}

.settings_container {
  padding-left: 300px;
  padding-bottom: 100px;
}

.settings .input {
  width: 100%;
  margin-bottom: 15px;
}

.settings .desc {
  resize: none;
  height: 200px;
}

.settings .button {
  float: right;
}

@media (max-width: 1110px) {
  .settings {
    width: 100%;
    display: block;
  }

  .settings_container {
    padding: 0 15px;
    padding-bottom: 100px;
  }
}
