.settings {
  width: 1080px;
  display: block;
}

.settings_container {
  padding-left: 300px;
  padding-bottom: 100px;
}

.settings .input {
  width: 100%;
  margin-bottom: 15px;
}

.settings .desc {
  resize: none;
  height: 200px;
}

.settings .submit {
  float: right;
}

#tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#tabs li {
  float: left;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.settings .selected {
  border-bottom: 2px solid #000;
}

.settings .deletion_header {
  float: left;
}

.settings .deletion {
  margin-top: 0;
  float: right;
  background-color: #d22f2f;
}

@media (max-width: 1110px) {
  .settings {
    width: 100%;
    display: block;
  }

  .settings_container {
    padding: 0 20px;
    padding-bottom: 100px;
  }

  #tabs {
    margin-top: 20px;
  }
}

@media (max-width: 570px) {
  #newpfp {
    float: left;
  }
}
