body {
  margin: 0;
  font-family: 'Lato';
}

.postdate {
  font-size: 14px;
  color: #797979;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none!important;
  visibility: hidden;
}

.round {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

.noscroll {
  overflow: hidden;
}
