body {
  margin: 0;
}

#content {
  font-family: 'Lato';
}

.postdate {
  font-size: 14px;
  color: #797979;
}

.clearfix {
  clear: both;
}

.hidden {
    display: none!important;
    visibility: hidden;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold; src: url('/static/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300; src: url('/static/fonts/Lato-Light.ttf');
}
